body,
html {
margin:0;
padding:0;
color:#000;
background:#336633;
font-family:Arial;


}

.wrap {
width:900px;
margin:0 auto;
background:#999966;

}

.header {
font-size: 20px;
float: right;
padding:20px 35px;
background:#999966;
}

h1 {

margin:5px;

}


.nav {
padding:12px 10px;
background:#339933;
clear: both;
}

.nav ul {
margin:0;
padding:0;
list-style:none;
}
.nav li {

display: inline;
margin:0;
padding-left: 50px;
}



.content {
padding: 10px;
float: left;
width: 650px;
background: #339966;
height:580px;
}

h2 {
margin:0 0 1em;
}


.content li {
display:inline;
font-size: 25px;
margin:0 auto;
}

.content p {
padding-left: 7px;
font-size: 19px;
}

.sidebar {
padding:10px;
float: right;

width:200px;
background:#999966;
height:580px;
}

.footer {
padding:5px 10px;
clear:both;
background:#339933;
}

.footer p {
margin:0;
}

.content h1 {

font-family: Arial Black;

}
