<!DOCTYPE html>
<html>
    <head>
    	<title>Front Page</title>
        <link rel="stylesheet" type="text/css" href= "css/style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
	
    <body>
        <div class= "div1">
            <h1>2015 City Of Albany</h1>
            <h2>Community Impact Report Card</h2>
        </div>
        <div class = "div4">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="default-page.html">Index</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="custom-page.html">Bank</a></li>
            </ul>
        </div>
        <div class = div2>
            <div class= about>
                <h3>About the CIRC</h3>
                <p class="homepara">This website is intended to help users find what bank will best fit their needs. Here you can use our calculator that will allow you to enter your banking needs, and get what banks will best suit you. This website will be used by people across the nation to find banks specifically catered to their needs.
             <br><br> Below is our "Bank Rating Calculator".  It is for you (the user) to input your own percentage into each of our different catogories of services that each bank may or may try to provide for you the consumer. You will give each an individual score which all together will be out of 100% depending on the level of importance a catogory and/or service is to you.  After yo are done you will click the button to calculate the scores and we will provide a list of banks that moslty likley fit you. They will ranked pertaining to the scores you provided along with the score we calculated from this. So go on and try! </p>
            </div>
            
        </div>
        <div class="div3">
            <div class="main" ng-app="myApp" ng-controller="myController">
        <h2>Bank Rating (For All Banks)</h2>
        <form>
            <ul>
                <li>
                    <label>Number of Branch Locations </label>
                    <input type="text" ng-blur="reset()" ng-model="weights.numBraches">
                </li>
                <li>
                    <label>Bank Location Distribution </label>
                    <input type="text" ng-blur="reset()" ng-model="weights.branchLocDistribution">
                </li>
                <li>
                    <label>Online Banking</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.onlineBankings">
                </li>
                <li>
                    <label>Fee for Outside ATMs</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.atmFees">
                </li>
                <li>
                    <label>Checking Account Fees</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.checkingFees">
                </li>
                
                
                
                <li>
                    <label>Savings Account Fees</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.savingsFees">
                </li>
                <li>
                    <label>Overdraft Practices</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.overdraft">
                </li>
                <li>
                    <label>Overdraft Thresholds and Limits</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.overdraftLimit">
                </li>
                <li>
                    <label>Credit Cards</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.creditCards">
                </li>
                <li>
                    <label>Credit Card Fees</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.creditCardFees">
                </li>
                
                <li>
                    <label>Loan Origination Marke Share</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.loanOriginationMarketShare">
                </li>
                <li>
                    <label>Loan Acceptance Rate in NY State</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.loanAcceptNy">
                </li>
                <li>
                    <label>Loan Acceptance Rate for Latino Borrowers</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.loanAcceptLatino">
                </li>
                <li>
                    <label>Loan Acceptance Rate for Black Borrowers</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.loanAcceptBlack">
                </li>
                <li>
                    <label>Loan Acceptance Rate for Low to Moderate Income Borrowers</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.loanAcceptLowIncome">
                </li>
                
                    
                <li>
                    <label>Percentage of Total Low to Moderate Income Borrowers</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.percentLowBorrowers">
                </li>
                <li>
                    <label>Loan Acceptance Rate for Low to Moderate Income Communities</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.loanAcceptLowComm">
                </li>
                <li>
                    <label>Percentage of Total in Communities of Color</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.percentCommColor">
                </li>
                <li>
                    <label>Acceptance of Alternate Forms of Identification</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.acceptAltId">
                </li>
                <li>
                    <label>Cost of Wire Transfers</label>
                    <input type="text" ng-blur="reset()" ng-model="weights.wireTransferCost">
                </li>
                
                
                
                <li>
                    <label>Total Percent: {{ calculateTotal() }}
                        <br>Percent Remaining: {{ 100 - calculateTotal()}}</label>
                    <button type="button" ng-show="calculateTotal() === 100" ng-click="finalScore()">Calculate Bank Scores</button>
                </li>
            </ul>
        </form>
       

        <table class="finalScores">
            <tr><th>Bank Name</th><th>Overall Score</th></tr>
            <tr ng-repeat="overall in allScores | orderBy: '-finalScore'"><td>{{overall.name}}</td><td>{{overall.finalScore}}</td></tr>
        </table>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>

    <script src="js/index.js"></script>

        </div>
        <div class="footer">
            <p>|INF362 Midterm Layout Design Home Page|</p>
        </div>
		
		
    </body>
</html>
